# Environment variables
# Ignore all .env files, but allow an example file to be checked in.
.env
.env.*
!.env.example

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Build and distribution
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
venv312/

# IDE and editor configuration
.idea/
.vscode/
.postman/
postman/

# macOS
.DS_Store
wmd/
whtmldoc/
# Test artifacts
.pytest_cache/
coverage.xml
.coverage


# 1.txt
/1.txt

/venv
/venv312
